<h2><%= @service.service_name %></h2>

<div class="actions">
  <%= link_to 'Editar', edit_admin_service_path(@service), class: 'btn' %>
  <%= link_to 'Volver al listado', admin_services_path %>
</div>

<table>
  <tr><th>ID</th><td><%= @service.id %></td></tr>
  <tr><th>Nombre</th><td><%= @service.service_name %></td></tr>
  <tr><th>Tipo</th><td><%= @service.type %></td></tr>
  <tr><th>URI</th><td><%= @service.uri %></td></tr>
  <tr><th>Método HTTP</th><td><%= @service.http_method %></td></tr>
</table>

<% Admin::ServicesController::MAPPER_FIELDS.each do |field| %>
  <h3><%= field.humanize %></h3>
  <pre><%= JSON.pretty_generate(@service[field] || {}) %></pre>
<% end %>
